.example-container {
    display: flex;
    flex-direction: column;
  }
  
  .example-container > * {
      margin: auto;
    width: 50%;
  }

  .example-container .mat-radio-button {
    margin: 0 5px;
  }

  .example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  .mat-form-field{display: block;}
  .example-full-width {
    width: 100%;
  }
  
  .search-content{background-color: #ffe9df;}
  @media screen and (max-width:479px){
    .example-container > * {
      margin: auto;
    width: 80%;
  }
    
  }